---
http_interactions:
- request:
    method: post
    uri: https://api.smartystreets.com/street-address?auth-id=e4fa0172-5e02-4167-acf0-281cf60bba37&auth-token=mB6m83BkyI2I7LlACDUd
    body:
      encoding: UTF-8
      string: '[{"street":"123 Foo Street","street2":"","city":"Albany","state":"NY","zipcode":"11243","addressee":""}]'
    headers:
      Content-Type:
      - application/json
      X-Standardize-Only:
      - 'true'
      X-Accept-Keypair:
      - 'false'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        []
  recorded_at: Fri, 18 Dec 2015 16:37:59 GMT
recorded_with: VCR 3.0.0
